* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --secondary: #444444;
  --contrast: #FF5656;
  --test: #5A5A5A;
}

@media(max-width: 1080px){
  html {
      font-size: 95.75%;
  }
}

@media(max-width:728px){
  html {
      font-size: 87.5%;
  }
}

body{
  background-color: var(--white);
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
