:root {
  --secondary-color: #1E1E26;
  --tertiary-color: #14141C;
  --accent-color: #3BB4B4;
  --text-color: #1E1E26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  /* font-family: 'Inter', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  line-height: 1;
}



a {
  text-decoration: none;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}