@media(max-width:769px){
    main section {
        max-width: 100%;
        flex-direction: column;
    }
    
    main .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(max-width: 426px){

    header div h1{
        font-size: 18px;
    }

    header a {
        margin-right: 0px;
    }

    header nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav a{
        font-size: 14px;
        margin-left: 15px;
    }

    main .menu {
        display: flex;
        flex-direction: column;
    }

    main .menu a{
        margin-bottom: 8px;
    }

    main section {
        max-width: 100%;
        flex-direction: column;
    }

    .projects {
        max-width: 95%;
    }

    .info-card {
        width: 350px;
        margin: 60px 25px;
    }
}

@media(max-width: 321px){
    .info-card {
        width: 310px;
    }
}
