html {    
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #f9f9f9;
    -webkit-font-smoothing: antialiased;
    font-family: 'roboto', sans-serif;
}

.page {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 15px 20px;
    background-color: #242424;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

header a {
    text-decoration: none;
    margin-right: 40px;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

header a:hover{
    color: #b4b4b4;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

main section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 10px 0 50px 0;
}

.menu a {
    text-decoration: none;
    margin: 0 20px;
    border: 1px solid black;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: #242424;
    color: #fff;
    transition: 0.3s;
}

.menu a:hover {
    color: #b4b4b4;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h3  {
    margin-bottom: 20px;
}

.info-card {
    width: 375px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 85px 25px;
    transition: 0.3s;
}

.info-card img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    border: 4px solid #fff;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

.info-card p {
    font-weight: bold;
    margin-bottom: 5px;
}

.info-card div {
    padding: 10px;
}

.info-card div a {
    text-decoration: none;
    background-color: #b4b4b4;
    color: #fff;
    padding: 3px 25px;
    border-radius: 8px;
    margin: 0 10px;
    transition: 0.3s;
}

.info-card div a:hover{
    background-color: #242424;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding: 35px 0 25px 0;
    margin-top: 50px;
    background-color: #242424;
}

footer a {
    text-decoration: none;
    color: #242424;
    font-size: 18px;
    padding: 10px 25px;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: 0.3s;
}

footer a:hover{
    color: #f9f9f9;
    background-color: #242424;
    border: 1px solid #f9f9f9;
}
